<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 2;
            padding: 0;
        }
    </style>
</head>
<body>
    <div style="display: flex; flex-direction: column;">
        <h1>Bem-vindo novamente.</h1>
        <h2>Boa Tarde, <%=nomezinho%> <%=sobrenome%>, você está bem aí em <%=cidade%>? </h2>
    </div>
</body>
</html>